<header class="header">
  <!-- Navbar TOP -->

  <div class="container">


    <div class="nav-top">
      <div class="nav-info">


        <a class="nav-link active" aria-current="page" href="#"><span><i class="fas fa-phone"></i></span>
          1-800-458-56987</a>


        <a class="nav-link" href="#"><span><i class="fas fa-map"></i></span> 47 Bakery Street, London, UK</a>


        <a class="nav-link" href="#"><span><i class="fas fa-clock"></i></span> Mon - Fri 8:00 - 18:00</a>



      </div>

      <div class="nav-contact">
        <p><span><i class="fab fa-facebook"></i></span></p>
        <p><span><i class="fab fa-twitter"></i></span></p>
        <p><span><i class="fab fa-instagram"></i></span></p>
        <p><span><i class="fab fa-linkedin"></i></span></p>

        <p>Login <span> | </span> Register </p>
      </div>
    </div>
  </div>
  <!-- Navbar TOP END -->



  <hr>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
      <img src="https://creativelayers.net/themes/voiture-html/images/header-logo.svg" alt="">
      <button class="navbar-toggler" type="button" (click)="inlineNav.toggle()" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText" mdbCollapse #inlineNav="mdbCollapse">

        <span class="navbar-text">
          <ul class="nav-customLinks">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Explore</a>
            </li>
            <li>
              <a href="">Listing</a>
            </li>
            <li>
              <a href="">Blog</a>
            </li>
            <li>
              <a href="">Shop</a>
            </li>
            <li>
              <a href="">Pages</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </nav>


  <section class="hero">
    <div class="container">
      <div class="hero-text">
        <h1>Find Your Next Match</h1>
        <span><img src="https://creativelayers.net/themes/voiture-html/images/home/title-bottom-border.svg"
            alt=""></span>
        <p>Find the right price, dealer and advice.</p>
      </div>


      <div class="hero-pills">
        <mdb-tabs [pills]="true">


          <mdb-tab title="Tab 1">

            <div class="row" style="background-color: #fff ;">
              <div class="col-sm-12 col-md-6 col-lg-4">hello</div>
              <div class="col-sm-12 col-md-6 col-lg-4">hello</div>
              <div class="col-sm-12 col-md-6 col-lg-4">hello</div>
            </div>

          </mdb-tab>


          <mdb-tab title="Tab 2">Tab content 2</mdb-tab>
          <mdb-tab title="Tab 3">Tab content 3</mdb-tab>
        </mdb-tabs>
      </div>


    </div>
  </section>
</header>


<!-- Cars -->

<section class="cars">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-4 col-lg col">
        <div class="card">
          <img class="card-img-top" src="https://creativelayers.net/themes/voiture-html/images/category-item/1.png"
            alt="">
          <div class="card-body">
            <h6 class="card-title">Compact</h6>

          </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-4 col-lg col">
        <div class="card">
          <img class="card-img-top" src="https://creativelayers.net/themes/voiture-html/images/category-item/2.png"
            alt="">
          <div class="card-body">
            <h6 class="card-title">Sadan</h6>

          </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-4 col-lg col">
        <div class="card">
          <img class="card-img-top" src="https://creativelayers.net/themes/voiture-html/images/category-item/3.png"
            alt="">
          <div class="card-body">
            <h6 class="card-title">SUV</h6>

          </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-4 col-lg col">
        <div class="card">
          <img class="card-img-top" src="https://creativelayers.net/themes/voiture-html/images/category-item/4.png"
            alt="">
          <div class="card-body">
            <h6 class="card-title">Convertible</h6>

          </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-4 col-lg col">
        <div class="card">
          <img class="card-img-top" src="https://creativelayers.net/themes/voiture-html/images/category-item/5.png"
            alt="">
          <div class="card-body">
            <h6 class="card-title">Coupe</h6>

          </div>
        </div>
      </div>





    </div>
  </div>
</section>

<!-- Cars End-->


<!-- Featured Listings -->


<section class="featured">
  <div class="container">

    <h1>Featured Listings</h1>

    <div class="row">

      
      <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card text-left">

            <div class="card-image">
              <div class="featuredBadge">
                <p>Featured</p>
              </div>
            <img class="card-img-top"
            
            src="https://creativelayers.net/themes/voiture-html/images/blog/3.jpg" 
            alt="">

            <div class="imageContent">
              <div class="imageLeft">
                <a href=""><span><i class="fas fa-camera"></i> </span> 22</a>
                <a href=""><span><i class="fas fa-play-circle"></i> </span> 22</a>
              </div>

              <div class="imageRight">
                <a href=""><span><i class="fas fa-share"></i> </span></a>
                <a href=""><span><i class="fas fa-heart"></i> </span> </a>
              </div>

            </div>
          </div>


            <div class="card-body">
              <h4 class="card-title">$129</h4>
              <p class="card-text">Volvo XC90 - 2020</p>

              <h6> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> 4.7 <span class="reviewText">(684 reviews)</span></h6>
              
              <div class="card-footer mt-2">
                <a href=""> <span><i class="fa fa-road"></i></span> 777628 </a>
                <a href=""> <span><i class="fa fa-gas-pump"></i></span> Diesel </a>
                <a href=""> <span><i class="fa fa-car-rear"></i></span> Automatic </a>
                
              </div>

            </div>
          </div>
      </div>

      
      <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card text-left">

            <div class="card-image">
              <div class="featuredBadge">
                <p>Featured</p>
              </div>
            <img class="card-img-top"
            
            src="https://creativelayers.net/themes/voiture-html/images/blog/1.jpg" 
            alt="">

            <div class="imageContent">
              <div class="imageLeft">
                <a href=""><span><i class="fas fa-camera"></i> </span> 22</a>
                <a href=""><span><i class="fas fa-play-circle"></i> </span> 22</a>
              </div>

              <div class="imageRight">
                <a href=""><span><i class="fas fa-share"></i> </span></a>
                <a href=""><span><i class="fas fa-heart"></i> </span> </a>
              </div>

            </div>
          </div>


            <div class="card-body">
              <h4 class="card-title">$129</h4>
              <p class="card-text">Volvo XC90 - 2020</p>

              <h6> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> 4.7 <span class="reviewText">(684 reviews)</span></h6>
              
              <div class="card-footer mt-2">
                <a href=""> <span><i class="fa fa-road"></i></span> 777628 </a>
                <a href=""> <span><i class="fa fa-gas-pump"></i></span> Diesel </a>
                <a href=""> <span><i class="fa fa-car-rear"></i></span> Automatic </a>
                
              </div>

            </div>
          </div>
      </div>

      
      <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card text-left">

            <div class="card-image">
              <div class="featuredBadge">
                <p>Featured</p>
              </div>
            <img class="card-img-top"
            
            src="https://creativelayers.net/themes/voiture-html/images/blog/2.jpg" 
            alt="">

            <div class="imageContent">
              <div class="imageLeft">
                <a href=""><span><i class="fas fa-camera"></i> </span> 22</a>
                <a href=""><span><i class="fas fa-play-circle"></i> </span> 22</a>
              </div>

              <div class="imageRight">
                <a href=""><span><i class="fas fa-share"></i> </span></a>
                <a href=""><span><i class="fas fa-heart"></i> </span> </a>
              </div>

            </div>
          </div>


            <div class="card-body">
              <h4 class="card-title">$129</h4>
              <p class="card-text">Volvo XC90 - 2020</p>

              <h6> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> 4.7 <span class="reviewText">(684 reviews)</span></h6>
              
              <div class="card-footer mt-2">
                <a href=""> <span><i class="fa fa-road"></i></span> 777628 </a>
                <a href=""> <span><i class="fa fa-gas-pump"></i></span> Diesel </a>
                <a href=""> <span><i class="fa fa-car-rear"></i></span> Automatic </a>
                
              </div>

            </div>
          </div>
      </div>

      
      <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card text-left">

            <div class="card-image">
              <div class="featuredBadge">
                <p>Featured</p>
              </div>
            <img class="card-img-top"
            
            src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" 
            alt="">

            <div class="imageContent">
              <div class="imageLeft">
                <a href=""><span><i class="fas fa-camera"></i> </span> 22</a>
                <a href=""><span><i class="fas fa-play-circle"></i> </span> 22</a>
              </div>

              <div class="imageRight">
                <a href=""><span><i class="fas fa-share"></i> </span></a>
                <a href=""><span><i class="fas fa-heart"></i> </span> </a>
              </div>

            </div>
          </div>


            <div class="card-body">
              <h4 class="card-title">$129</h4>
              <p class="card-text">Volvo XC90 - 2020</p>

              <h6> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> 4.7 <span class="reviewText">(684 reviews)</span></h6>
              
              <div class="card-footer mt-2">
                <a href=""> <span><i class="fa fa-road"></i></span> 777628 </a>
                <a href=""> <span><i class="fa fa-gas-pump"></i></span> Diesel </a>
                <a href=""> <span><i class="fa fa-car-rear"></i></span> Automatic </a>
                
              </div>

            </div>
          </div>
      </div>

      
      <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="card text-left">

            <div class="card-image">
              <div class="featuredBadge">
                <p>Featured</p>
              </div>
            <img class="card-img-top"
            
            src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" 
            alt="">

            <div class="imageContent">
              <div class="imageLeft">
                <a href=""><span><i class="fas fa-camera"></i> </span> 22</a>
                <a href=""><span><i class="fas fa-play-circle"></i> </span> 22</a>
              </div>

              <div class="imageRight">
                <a href=""><span><i class="fas fa-share"></i> </span></a>
                <a href=""><span><i class="fas fa-heart"></i> </span> </a>
              </div>

            </div>
          </div>


            <div class="card-body">
              <h4 class="card-title">$129</h4>
              <p class="card-text">Volvo XC90 - 2020</p>

              <h6> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> 4.7 <span class="reviewText">(684 reviews)</span></h6>
              
              <div class="card-footer mt-2">
                <a href=""> <span><i class="fa fa-road"></i></span> 777628 </a>
                <a href=""> <span><i class="fa fa-gas-pump"></i></span> Diesel </a>
                <a href=""> <span><i class="fa fa-car-rear"></i></span> Automatic </a>
                
              </div>

            </div>
          </div>
      </div>


      
    </div>

    <div class="cars-btn">

      <a href=""> Show All Cars <span class="allCarsBtn">+</span> </a>
    </div>
  </div>
  

</section>

<!-- Featured Listings END -->


<!-- Why Choose Us? -->


<section class="whyUs">

  <div class="container">
    <div class="row g-4">

      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="whyCard">
          <div class="whyCardImage">
            <span class="whyBadge"><img src="https://i.ibb.co/bvVjGzh/tag.png" alt=""></span>
            <img class="backImage"  src="https://creativelayers.net/themes/voiture-html/images/why-chose/egg-shape1.svg" alt="">
          
          </div>

          <div class="whyCardContent">
            <h5>Best Price</h5>
            <p>Our stress-free finance department that can find financial solutions to save you money.</p>
          </div>

        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="whyCard">
          <div class="whyCardImage">
            <span class="whyBadge"><img src="https://i.ibb.co/vkt5qTQ/car.png" alt=""></span>
            <img class="backImage"  src="https://creativelayers.net/themes/voiture-html/images/why-chose/egg-shape2.svg" alt="">
          
          </div>

          <div class="whyCardContent">
            <h5>Trusted By Thousands</h5>
            <p>Our stress-free finance department that can find financial solutions to save you money.</p>
          </div>

        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="whyCard">
          <div class="whyCardImage">
            <span class="whyBadge"><img src="https://i.ibb.co/nBywKhr/shield-1.png" alt=""></span>
            <img class="backImage"  src="https://creativelayers.net/themes/voiture-html/images/why-chose/egg-shape3.svg" alt="">
          
          </div>

          <div class="whyCardContent">
            <h5>Wide Range of Brands</h5>
            <p>Our stress-free finance department that can find financial solutions to save you money.</p>
          </div>

        </div>
      </div>

    
    </div>
  </div>

</section>

<!-- Why Choose Us? End -->


<section class="findCar">
  <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7">
          <h1>We Make Finding The Right <br> Car Simple</h1>
          <p>At Voiture what matters to us is making your car search and buying experience as simple as possible, <br> so you can find the right  car quickly and get on with making it yours.</p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 playBtn">
          <img src="https://i.ibb.co/sv0Spb7/play.png" alt="">
        </div>


      </div>
  </div>
</section>


<!-- POPULAR LISTING -->

  <section class="popular">
    <div class="container">

      <h1>Popular Listings</h1>
  
      <div class="row">
  
        
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-left">
  
              <div class="card-image">
                <div class="featuredBadge">
                  <p>Featured</p>
                </div>
              <img class="card-img-top"
              
              src="https://creativelayers.net/themes/voiture-html/images/blog/3.jpg" 
              alt="">
  
              <div class="imageContent">
                <div class="imageLeft">
                  <a href=""><span><i class="fas fa-camera"></i> </span> 22</a>
                  <a href=""><span><i class="fas fa-play-circle"></i> </span> 22</a>
                </div>
  
                <div class="imageRight">
                  <a href=""><span><i class="fas fa-share"></i> </span></a>
                  <a href=""><span><i class="fas fa-heart"></i> </span> </a>
                </div>
  
              </div>
            </div>
  
  
              <div class="card-body">
                <h4 class="card-title">$129</h4>
                <p class="card-text">Volvo XC90 - 2020</p>
  
                <h6> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> 4.7 <span class="reviewText">(684 reviews)</span></h6>
                
                <div class="card-footer mt-2">
                  <a href=""> <span><i class="fa fa-road"></i></span> 777628 </a>
                  <a href=""> <span><i class="fa fa-gas-pump"></i></span> Diesel </a>
                  <a href=""> <span><i class="fa fa-car-rear"></i></span> Automatic </a>
                  
                </div>
  
              </div>
            </div>
        </div>
  
        
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-left">
  
              <div class="card-image">
                <div class="featuredBadge">
                  <p>Featured</p>
                </div>
              <img class="card-img-top"
              
              src="https://creativelayers.net/themes/voiture-html/images/blog/1.jpg" 
              alt="">
  
              <div class="imageContent">
                <div class="imageLeft">
                  <a href=""><span><i class="fas fa-camera"></i> </span> 22</a>
                  <a href=""><span><i class="fas fa-play-circle"></i> </span> 22</a>
                </div>
  
                <div class="imageRight">
                  <a href=""><span><i class="fas fa-share"></i> </span></a>
                  <a href=""><span><i class="fas fa-heart"></i> </span> </a>
                </div>
  
              </div>
            </div>
  
  
              <div class="card-body">
                <h4 class="card-title">$129</h4>
                <p class="card-text">Volvo XC90 - 2020</p>
  
                <h6> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> 4.7 <span class="reviewText">(684 reviews)</span></h6>
                
                <div class="card-footer mt-2">
                  <a href=""> <span><i class="fa fa-road"></i></span> 777628 </a>
                  <a href=""> <span><i class="fa fa-gas-pump"></i></span> Diesel </a>
                  <a href=""> <span><i class="fa fa-car-rear"></i></span> Automatic </a>
                  
                </div>
  
              </div>
            </div>
        </div>
  
        
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-left">
  
              <div class="card-image">
                <div class="featuredBadge">
                  <p>Featured</p>
                </div>
              <img class="card-img-top"
              
              src="https://creativelayers.net/themes/voiture-html/images/blog/2.jpg" 
              alt="">
  
              <div class="imageContent">
                <div class="imageLeft">
                  <a href=""><span><i class="fas fa-camera"></i> </span> 22</a>
                  <a href=""><span><i class="fas fa-play-circle"></i> </span> 22</a>
                </div>
  
                <div class="imageRight">
                  <a href=""><span><i class="fas fa-share"></i> </span></a>
                  <a href=""><span><i class="fas fa-heart"></i> </span> </a>
                </div>
  
              </div>
            </div>
  
  
              <div class="card-body">
                <h4 class="card-title">$129</h4>
                <p class="card-text">Volvo XC90 - 2020</p>
  
                <h6> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> 4.7 <span class="reviewText">(684 reviews)</span></h6>
                
                <div class="card-footer mt-2">
                  <a href=""> <span><i class="fa fa-road"></i></span> 777628 </a>
                  <a href=""> <span><i class="fa fa-gas-pump"></i></span> Diesel </a>
                  <a href=""> <span><i class="fa fa-car-rear"></i></span> Automatic </a>
                  
                </div>
  
              </div>
            </div>
        </div>
  
        
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-left">
  
              <div class="card-image">
                <div class="featuredBadge">
                  <p>Featured</p>
                </div>
              <img class="card-img-top"
              
              src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" 
              alt="">
  
              <div class="imageContent">
                <div class="imageLeft">
                  <a href=""><span><i class="fas fa-camera"></i> </span> 22</a>
                  <a href=""><span><i class="fas fa-play-circle"></i> </span> 22</a>
                </div>
  
                <div class="imageRight">
                  <a href=""><span><i class="fas fa-share"></i> </span></a>
                  <a href=""><span><i class="fas fa-heart"></i> </span> </a>
                </div>
  
              </div>
            </div>
  
  
              <div class="card-body">
                <h4 class="card-title">$129</h4>
                <p class="card-text">Volvo XC90 - 2020</p>
  
                <h6> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> 4.7 <span class="reviewText">(684 reviews)</span></h6>
                
                <div class="card-footer mt-2">
                  <a href=""> <span><i class="fa fa-road"></i></span> 777628 </a>
                  <a href=""> <span><i class="fa fa-gas-pump"></i></span> Diesel </a>
                  <a href=""> <span><i class="fa fa-car-rear"></i></span> Automatic </a>
                  
                </div>
  
              </div>
            </div>
        </div>
  
      
  
        
      </div>
  
    </div>
  </section>

<!-- POPULAR LISTING End-->




<!-- COUNTS -->

<section class="count">

  <div class="container">
    <div class="row g-4">

      <div class="col-sm-6 col-md-3 col-sm-3">
        <div class="card">
          
          <div class="card-body">
            <h4 class="card-title">27600</h4>
            <p class="card-text">CARS FOR SALE</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-sm-3">
        <div class="card">
          
          <div class="card-body">
            <h4 class="card-title">6500</h4>
            <p class="card-text">DEALER REVIEWS</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-sm-3">
        <div class="card">
          
          <div class="card-body">
            <h4 class="card-title">8230</h4>
            <p class="card-text">VISITORS PER DAY</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-sm-3">
        <div class="card">
          
          <div class="card-body">
            <h4 class="card-title">5250</h4>
            <p class="card-text">VERIFIED DEALERS</p>
          </div>
        </div>
      </div>

      
    </div>
  </div>

</section>


<!-- COUNTS End-->


<!-- Testimonials -->

<!-- 
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">Hello</div>
      <div class="col-sm-12 col-md-6 col-lg-6">Hello</div>
    </div>
  </div>
</section> -->




<!-- Recent Articles -->

<section class="articles">

<div class="container">
  <h1 class="text-center mt-5 mb-5">Recent Articles</h1>


  <div class="row">


    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card">
        <span class="blogBadge">Blog</span>
        <img class="card-img-top" src="https://creativelayers.net/themes/voiture-html/images/listing/2.jpg" alt="">
        <div class="card-body">

          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4 small">
              <p> <span><i class="fa fa-user-circle" ></i> </span> Brooklyn Sim</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 small">
              <p> <span><i class="fa fa-comment" ></i></span> 12 Comments</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 small">
              <p> <span><i class="fa fa-calendar" ></i> </span> April 25, 2021</p>
            </div>
          </div>

          <h4 class="card-title mb-4">2021 BMW 540i M Sport Review: Light on Sport, Heavy on Tech</h4>
          <p class="card-text"><a href="">Ready More <span>+</span></a></p>
        </div>
      </div>
    </div>


    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card">
        <span class="blogBadge">SUV</span>
        <img class="card-img-top" src="https://creativelayers.net/themes/voiture-html/images/listing/4.jpg" alt="">
        <div class="card-body">

          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4 small">
              <p> <span><i class="fa fa-user-circle" ></i> </span> Brooklyn Sim</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 small">
              <p> <span><i class="fa fa-comment" ></i></span> 12 Comments</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 small">
              <p> <span><i class="fa fa-calendar" ></i> </span> April 25, 2021</p>
            </div>
          </div>

          <h4 class="card-title mb-4">2021 BMW 540i M Sport Review: Light on Sport, Heavy on Tech</h4>
          <p class="card-text"><a href="">Ready More <span>+</span></a></p>
        </div>
      </div>
    </div>


    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card">
        <span class="blogBadge">2021</span>
        <img class="card-img-top" src="https://creativelayers.net/themes/voiture-html/images/listing/8.jpg" alt="">
        <div class="card-body">

          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4 small">
              <p> <span><i class="fa fa-user-circle" ></i> </span> Brooklyn Sim</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 small">
              <p> <span><i class="fa fa-comment" ></i></span> 12 Comments</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 small">
              <p> <span><i class="fa fa-calendar" ></i> </span> April 25, 2021</p>
            </div>
          </div>

          <h4 class="card-title mb-4">2021 BMW 540i M Sport Review: Light on Sport, Heavy on Tech</h4>
          <p class="card-text"><a href="">Ready More <span>+</span></a></p>
        </div>
      </div>
    </div>



  </div>

</div>

</section>


<!-- Popular Makes -->


<section class="popular-makes">
<div class="container">
  <h1 class="text-center mb-5">Popular Makes</h1>

  <div class="row">

    <div class="col-sm-4 col-md-2 col-lg-2">
      <div class="makesLogo">
        <p class="text-center"><img src="https://creativelayers.net/themes/voiture-html/images/partners/1.png" alt=""></p> 
      </div>
    </div>


    <div class="col-sm-4 col-md-2 col-lg-2">
      <div class="makesLogo">
        <p class="text-center"> <img src="https://creativelayers.net/themes/voiture-html/images/partners/2.png" alt=""></p>
      </div>
    </div>


    <div class="col-sm-4 col-md-2 col-lg-2">
      <div class="makesLogo">
        <p class="text-center"> <img src="https://creativelayers.net/themes/voiture-html/images/partners/4.png" alt=""> </p>
      </div>
    </div>


    <div class="col-sm-4 col-md-2 col-lg-2">
      <div class="makesLogo">
        <p class="text-center"> <img src="https://creativelayers.net/themes/voiture-html/images/partners/5.png" alt=""> </p>
      </div>
    </div>


    <div class="col-sm-4 col-md-2 col-lg-2">
      <div class="makesLogo">
        <p class="text-center"> <img src="https://creativelayers.net/themes/voiture-html/images/partners/6.png" alt=""> </p>
      </div>
    </div>


    <div class="col-sm-4 col-md-2 col-lg-2">
      <div class="makesLogo">
        <p class="text-center"> <img src="https://creativelayers.net/themes/voiture-html/images/partners/1.png" alt=""> </p>
      </div>
    </div>




  </div>


</div>
</section>



<!-- footer -->

<footer class="footer">
  <div class="container">
    <div class="row footerLogo">
      <div class="col-sm-12 col-md-7 col-lg-7">
        <img src="https://creativelayers.net/themes/voiture-html/images/header-logo.svg" alt="">
      </div>
      <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="row">

        <div class="col-sm-4 col-md-2 col-lg-2">
          <a href="">Home</a>
        </div>

        <div class="col-sm-4 col-md-2 col-lg-2">
          <a href="">Explore</a>
        </div>

        <div class="col-sm-4 col-md-2 col-lg-2">
          <a href="">Listings</a>
        </div>
        

        <div class="col-sm-4 col-md-2 col-lg-2">
          <a href="">Blog</a>
        </div>

        <div class="col-sm-4 col-md-2 col-lg-2">
          <a href="">Shop</a>
        </div>
        

        <div class="col-sm-4 col-md-2 col-lg-2">
          <a href="">Pages</a>
        </div>
        
        
      </div>

      </div>
    </div>


    <hr style="color: #ffffff; margin-top: 3rem; ">


    <div class="row"> 
      <div class="col-sm-12 col-md-3 col-lg-3">
        <h5>OFFICE</h5>
        <p>Germany — <br>
          329 Queensberry Street, <br>
          North Melbourne VIC 3051</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <h5>NEED HELP</h5>
        <h2>+1 670 936 46 70</h2>
        <small>hello@voiture.com</small>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <h5>OPENING HOURS</h5>
        <p>Monday – Friday: 09:00AM – 09:00PM <br>
          Saturday: 09:00AM – 07:00PM <br>
          Sunday: Closed</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">

        <h5>KEEP IN TOUCH</h5>
        <div class="emailLetter">
          <input type="text">
          <button>GO</button>
        </div>
        <p>Get latest updates and offers.</p>

      </div>

    </div>


    <hr style="color: #ffffff; margin-top: 3rem; ">


    <div class="row footerBottom"> 
      <div class="col-sm-12 col-md-8 col-lg-8">
        <p>CreativeLayers © 2022. All Rights Reserved.</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
          
        <div class="row">

          <div class="col-sm-4 col-md-2 col-lg-2">
            <i class="fab fa-facebook"></i>
          </div>

          <div class="col-sm-4 col-md-2 col-lg-2">
            <i class="fab fa-twitter"></i>
          </div>

          <div class="col-sm-4 col-md-2 col-lg-2">
            <i class="fab fa-instagram"></i>
          </div>

          <div class="col-sm-4 col-md-2 col-lg-2">
            <i class="fab fa-linkedin"></i>
          </div>

        </div>


      
          
      </div>
      
    </div>


  </div>
</footer>